jupyterlab          # notebook
pandas              # dataframes
seaborn             # visualizations
scikit-learn        # ml pipelines
address-parser      # address parsing
phonetics           # addr-parser dependency
