jupyterlab          # notebook
pandas              # dataframes
seaborn             # visualizations
scikit-learn        # ml pipelines
geopy               # geocoding
pyap                # address parsing
address-parser      # address parsing
